#header {text-align: center; font-size: 35px; background-image: url("bck.jpg"); font-family: cursive; background-repeat: no-repeat; background-position-x: center; background-size: cover; background-position-y: center  ;}
#headerbck {width: 1000px; height: 400px; margin-left: auto; margin-right: auto; border-style:double;}
body {
  margin-left: 40px;
  background-color: #003780a6;
  font-family: sans-serif;
  font-size: 20px;
}
.sidebar-left{
    width: 10px;
    height: 800px;
    background: linear-gradient(0deg, red, #FFB300);
    float: left;
}
#sheetmusc {margin-left: auto; margin-right: auto; display: block;}

#images {width: 400px; height: 200px; margin-left: 200px}

.midbar{
    width: 2100px;
    height: 10px;
    background: brown;
}
